
## Ignore arquivos do Visual Studio e temporários

bin/
obj/
out/

*.user
*.suo
*.userosscache
*.sln.docstates

.vscode/
.vs/
*.vspscc
*.vssscc

.idea/

ScaffoldingReadMe.txt

*.log

appsettings.Development.json
appsettings.json

node_modules/

publish/
*.Publish.xml

*.nupkg
*.snupkg
packages/

*.bak
*.tmp
*.temp

Thumbs.db
Desktop.ini

*.mdf
*.ldf

wwwroot/uploads/
